<div id="fullpage">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="text-center" style="font-size:25px">Accenon . Logo . Text </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section second">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 is-animated">
                    <img class="img-responsive" src="http://www.datafox.de/files/Datafox_Devices/Bilder/Produktbilder/evo-4.3-terminal/Datafox-EVO4.3-03.jpg">
                    Zeiterfassung bla-

                    asaskp akf
                </div>
                <div class="col-sm-4 is-animated">
                    <img class="img-responsive" src="http://www.sealpac.de/uploads/tx_bsheaderselector/BDE_3.jpg">
                    Betriebsdatenerfassung - bla bl al
                </div>
                <div class="col-sm-4 is-animated">
                    <img class="img-responsive" src="https://pbs.twimg.com/profile_images/378800000858432320/MG2ULE4n_400x400.png">
                    Usw
                </div>
                <div class="col-xs-12 text-center is-animated__single">
                    <button type="button" class="btn btn-lg">Link hier</button>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    <section class="section third">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3 is-animated">
                    <img class="img-responsive" src="http://www.wuest-it.de/media/image/d6/0e/dd/Datafox-Devices-Logo-300dpi-RGB.png">
                </div>
                <div class="col-sm-3 is-animated">
                    <img class="img-responsive" src="http://www.kaba.de/media/1088122/v5/ImageFile/kaba-logo.gif">
                </div>
                <div class="col-xs-12 text-center is-animated__single">
                    <button type="button" class="btn btn-lg">Kompenete Hersteller sdjfkjs </button>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    <section class="section fourth">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 is-animated">
                    <p>es tanz asodiaospf  ein biba aksdjaksd buzelmannas jdkla jdalk djlak föoksd föosk dföosk f</p>
                </div>
                <div class="col-xs-12 is-animated">
                    <p>es tanz lapdpka föoksd föosk dföosk f</p>
                </div>
                <div class="col-xs-12 text-center is-animated__single">
                    <button type="button" class="btn btn-lg">Steigen sie ein bla</button>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
</div>