<div class="navbar navbar-default " style="position: absolute; top:20px;  width: 100%;   background-color: rgba(222,222,222,0.7);    ">
    <div class="container">
        <div class="navbar-header">
            <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                <img style="max-width:100px; margin-top: -7px;"
                     src="//www.google.com/favicon.ico">
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" method="get" id="searchform" action="">
                <div class="form-group">
                    <input name="s" id="s" type="text" class="search-query form-control" autocomplete="off" placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
</div>


<div style="position:absolute; top:220px">
    
     <div class="row">

         <div class="col-md-5 center-block" style="float:none; color:white">

             <p>
                 lorem sksd fksfölksöfksöo fksöok fosk foöks öfok sf
                 s fskf ölsö fköls fklsök fls kf
                 s fsl fkls fkösl fksölfksf
                 s flks flöskfdöl k
             </p>

         </div>

     </div>
</div>


<div class="parallax-window" style="min-height: 90vh;" id="pw1" data-parallax="scroll"></div>

<div class="row" style="text-align:center; min-height:250px">
    <h2>- ein deeper spruch -</h2>
</div>


<div class="parallax-window" id="pw2" data-parallax="scroll">

</div>


<h1>Zeiterfassung</h1>
<div class="row">

    <div class="col-md-4">

        <img src="http://www.datafox.de/files/Datafox_Devices/Bilder/Produktbilder/evo-4.3-terminal/Datafox-EVO4.3-04.jpg" height="400" />

    </div>

    <div class="col-md-7">

        <p> lorem sksd fksfölksöfksöo fksöok fosk foöks öfok sf
        s fskf ölsö fköls fklsök fls kf
        s fsl fkls fkösl fksölfksf
        s flks flöskfdöl k</p>

    </div>



</div>
